.item-container {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-style {
    width: 100%;
    border-radius: 5px;
}

.button-container {
    position: absolute;
    top: 0;
    right: 0;
}

.button-style {
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 2px;
}

.button-style.edit {
    background-color: blue;
}
